<mat-table [dataSource]="users">
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let request; columns: displayedColumns;"></mat-row>

    <ng-container matColumnDef="Customer Name">
        <mat-header-cell *matHeaderCellDef translate>Customer Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.firstname | uppercase}} {{element.lastname | uppercase}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Username">
        <mat-header-cell *matHeaderCellDef translate>Username</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="City">
        <mat-header-cell *matHeaderCellDef translate> City </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Birth Date">
        <mat-header-cell *matHeaderCellDef translate> Birth Date </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span class="icon-prefix">
                <i class="material-icons secondary-icon">today</i>
                <span>{{element.birthDate | date}}</span>
            </span>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="More Info">
        <mat-header-cell *matHeaderCellDef translate> More Info </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <a mat-icon-button color="primary" class="clickable" [matTooltip]="'Details'" (click)="openDetails(element)">
                <mat-icon>info</mat-icon>
            </a>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Actions">
        <mat-header-cell *matHeaderCellDef translate> Actions </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <mat-icon color="primary" class="clickable" [matTooltip]="'Edit User'" (click)="editUser(element)">edit</mat-icon>
            <mat-icon color="primary" class="clickable" [matTooltip]="'Delete User'" (click)="deleteUser(element)">delete</mat-icon>
        </mat-cell>
    </ng-container>
</mat-table>